
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

/*Colors light*/


$backgoundLight: #dacdac;
$backgroundDark:#1e1801;
$redLight: #f85741;
$orange:#f39708;
$blueLight:#0e9094;
$brownLetters:#472C33;

/*Fonts*/
$titleFont:'Sorts Mill Goudy', serif;
$fontGeneric:'Montserrat', sans-serif;