
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

/*Colors light*/


$backgoundLight: #E5E2CA;
$redLight: #E7472E;
$blueLight:#52908B;
$brownLetters:#472C33;

/*Fonts*/
$titleFont:'Sorts Mill Goudy', serif;
$fontGeneric:'Montserrat', sans-serif;