
@import './setting';
@import './screensStyle/projects';
@import './screensStyle/home';
@import './screensStyle/skills';
@import './screensStyle/Contact';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
// body{
//     background-color:$backgoundLight;
// }
.app{
height: 100%;
  position: relative;
  min-height:100vh;
}

#dark {
background-color: $backgroundDark;
}

#light {
background-color: $lightBrown;
 }

 .switch {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .switch label {
    margin: 10px;
  }
  
  #light .switch label {
    color: $darkBlue;
  }
  
  #dark .switch label {
    color: $red;
  }