
@import './setting';

@import './screensStyle/home';
@import './screensStyle/skills';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:$backgoundLight;
}
.app{
    height: 100%;
  position: relative;
  min-height:100vh;
}
