
@import '../setting';


/*Home*/
h1{
    font-family: $titleFont;
    font-size: 50px;
    font-weight: 500;
    color:$brownLetters;
}

h2,h3,h4{
    font-family: $fontGeneric;
    color:$brownLetters;
}
h3, h4{
    font-weight: 500;
    font-size: 20px;
}
h2{
    font-weight: 600;
    font-size: 20px;
    color:$blueLight;
}

.homeDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.textDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}
.imageDiv{
    width: 30%;
    & img {
        min-height:100vh;
    }
}
.nameDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navFooter{
    width: 100%;
}
// .imageHome{
//     width: 30%;
// }
/*NavBar*/
.navBarUl{
    padding: 10px;
    margin:2%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    a {
        text-decoration: none;
        color: $brownLetters;
        font-weight: 400;
        vertical-align: top;
        position: relative;
    }
li{
    position:relative;
    padding: 5px;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background-color:$redLight;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    &:hover::before{
        transform-origin: left;
        transform: scaleX(1);
    }
}
}

    



